tectoplot.history
tectoplot.last
tectoplot.shortsources
tectoplot.sources
.DS_Store
access_litho
data_examples/ASTGTM_NC.003_ASTER_GDEM_DEM_doy2000061_aid0001.tif
data_examples/gmt.history
examples/example1.history
examples/example1.txt
examples/example10.history
examples/example10.txt
examples/example10_profile_150_40_10.txt
examples/example11.history
examples/example11.txt
examples/example13.history
examples/example13.txt
examples/example14.history
examples/example14.txt
examples/example15.history
examples/example15.txt
examples/example16.history
examples/example16.txt
examples/example18.history
examples/example18.txt
examples/example19.history
examples/example19.txt
examples/example19_oblique.txt
examples/example2.history
examples/example2.txt
examples/example3.history
examples/example3.txt
examples/example4.history
examples/example4.txt
examples/example5.history
examples/example5.txt
examples/example6.history
examples/example6.txt
examples/example6_profile_140_30_8.txt
examples/example6_profile_220_20_5.txt
examples/example7.history
examples/example7.txt
examples/example8.history
examples/example8.txt
examples/example9.history
examples/example9.txt
examples/gmt.history
examples/profile.control
examples/tempfiles_to_delete/
examples/trench.xy
moving_window_dadtdx.sh
smart_swath.sh
smart_swath_dataextract.sh
smart_swath_grdtrack.sh
smart_swath_update.sh
smart_swath_update_works.sh
tectoplot_defs/.profile_old
tectoplot_defs/tectoplot.gmtcpts
texture_shader/shadow
texture_shader/svf
texture_shader/texture
texture_shader/texture_image
